{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Temple Web{% endblock %}</title>
    <link href="{% static 'styles.css' %}" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/353be98c40.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- place for navbar -->
    {% block navbar %} {% endblock %}

    <div
      id="footer-bottomer"
      class="flex flex-col min-h-screen justify-between"
    >
      <!--  -->
      <!-- this div wraps the content and the footer -->
      <!-- place for actual page content -->
      <!-- place for actual page content -->
      <div id="content">{% block content %} {% endblock %}</div>

      <!-- <div class="grow"></div> -->
      <!-- place for footer -->
      {% block footer %} {% endblock%}
    </div>

    <script src="{% static 'flowbite.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/datepicker.min.js"></script>

    <script type="text/javascript">
      const handlePrint = () => {
        var actContents = document.body.innerHTML;
        document.body.innerHTML = actContents;
        window.print();
      };
    </script>
  </body>
</html>
