{% extends "base.html" %}

<!-- navbar -->
{% block navbar %}
<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a href="#" class="flex items-center">
      {% if site_config.logo %}
      <img
        src="{{site_config.logo.url}}"
        class="h-10 w-10 mr-3"
        alt="Temple Web Logo"
      />
      {% endif %}
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
        >{{ site_config.site_name }}</span
      >
    </a>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-6 h-6"
        aria-hidden="true"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
      >
        <li>
          <a
            href="#"
            class="block py-2 pl-3 pr-4 text-white bg-primary-700 rounded md:bg-transparent md:text-primary-700 md:p-0 dark:text-white md:dark:text-primary-500"
            aria-current="page"
            >Home</a
          >
        </li>
        <!-- navigation links -->
        {% for nav_link in nav_links %}
        <li>
          <a
            href="{{ nav_link.link }}"
            class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-primary-700 md:p-0 dark:text-white md:dark:hover:text-primary-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
            >{{ nav_link.title }}</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
<hr class="border-1.5 border-gray-200" />
{% endblock navbar %} {% block content %} {% endblock %}

<!-- footer -->
{% block footer %}
<footer class="mt-auto w-full p-4 bg-gray-200 sm:p-6 dark:bg-gray-800">
  <div class="mx-auto">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0 px-12">
        <a href="" class="flex items-center">
          {% if site_config.logo %}
          <img
            src="{{site_config.logo.url}}"
            class="mr-3 h-8"
            alt="Temple Web Logo"
          />
          {% endif %}
          <span
            class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
            >{{ site_config.site_name }}</span
          >
        </a>
        <br />

        <p class="text-gray-600 sm:mx-12">{{footer_address.aline1}}</p>
        <p class="text-gray-600 sm:mx-12">{{footer_address.aline2}}</p>
        <p class="text-gray-600 sm:mx-12">{{footer_address.aline3}}</p>
        <p class="text-gray-600 sm:mx-12">
          Phone: {{footer_address.contact_no}}
        </p>
      </div>
      <div
        class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5"
      >
        {% for category in footer_categories %}
        <div class="px-6">
          <h2
            class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
          >
            {{ category.categ_title }}
          </h2>
          <ul class="text-gray-600 dark:text-gray-400">
            {% for link in category.footerlink_set.all %}
            <li class="mb-4">
              <a href="{{ link.link }}" class="hover:underline"
                >{{ link.title }}</a
              >
            </li>
            {% endfor %}
          </ul>
        </div>

        {% endfor %}
      </div>
    </div>
    <hr class="my-6 border-gray-300 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
        >© 2023
        <a href="/" class="hover:underline">{{ site_config.site_name }}™</a>.
        All Rights Reserved.
      </span>

      <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0">
        <!-- social section -->
        {% for social_link in social_links %}
        <a href="{{social_link.link}}" class="">
          <i class="{{social_link.icon_brand}}"></i>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</footer>
{% endblock footer %}
