{% extends "commons.html" %}

<!-- title -->
{% block title %} {{user.full_name}} {% endblock title %}

<!-- content -->

{% block content %} {% load tailwind_filters %}

<div class="flex bg-gray-100 justify-center items-center h-screen w-screen">
  <div
    class="w-full max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 px-12 py-6">
    <div class="flex flex-col items-center pb-10">
      <img class="w-24 h-24 mb-3 rounded-full shadow-lg" {% if user_profile.profile_pic %}
        src="{{user_profile.profile_pic.url}}" {% else %} src="" {% endif %} alt="User Profile Image" />
      <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
        {{user.full_name}}
      </h5>
      <span class="text-sm text-gray-500 dark:text-gray-400">{{user.email}}</span>
      <form enctype="multipart/form-data" method="post">
        {% csrf_token %} {{ form | crispy}}
        <button type="submit"
          class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
          Save
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}