[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target


[Service]
User=aahnik
Group=www-data
WorkingDirectory=path/to/proj/src
ExecStart=path/to/proj/.venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          temple_web.wsgi:application


[Install]
WantedBy=multi-user.target

