{% extends "base.html" %}

<!-- title -->
{% block title %} Invoice {% endblock title %}

<!-- content -->
{% block content %}

<section class="h-full w-full text-center flex justify-center">
  <div class="w-[52rem] flex justify-center align-middle flex-wrap">
    <div class="my-12 py-6 mx-4 px-12 rounded-lg bg-gray-100 drop-shadow-lg">
      <h1 class="text-xl text-center font-bold mb-4">{{ biller.biller_name }}</h1>

      <h1 class=" text-center font-bold mb-4">Transanction Bill</h1>

      <kbd
        class="px-2 py-1.5 text-gray-800 bg-gray-100 border border-gray-200 rounded-lg dark:bg-gray-600 dark:text-gray-100 dark:border-gray-500"
      >
        #Invoice ID {{transanction.auto_invoice_id}}</kbd
      >
      <br />

      <div class="bg-white shadow-md rounded-lg p-8">
        <div class="mb-8">
          <h2 class="text-2xl font-semibold mb-4">Transanction Details</h2>
          <table class="table-fixed w-full">
            <tbody>
              <tr>
                <td class="py-2 pr-4 text-left font-medium">Category</td>
                <td class="py-2 pl-4 text-right">{{ transanction.category }}</td>
              </tr>
              <tr>
                <td class="py-2 pr-4 text-left font-medium">Amount</td>
                <td class="py-2 pl-4 text-right">{{ transanction.amount }}</td>
              </tr>
              <tr>
                <td class="py-2 pr-4 text-left font-medium">Payment Mode</td>
                <td class="py-2 pl-4 text-right">{{ transanction.mode }}</td>
              </tr>
              <tr>
                <td class="py-2 pr-4 text-left font-medium">Payment Status</td>
                <td class="py-2 pl-4 text-right">{{ transanction.txn_status }}</td>
              </tr>
              <tr>
                <td class="py-2 pr-4 text-left font-medium">Purpose/Detail</td>
                <td class="py-2 pl-4 text-right">{{ transanction.purpose }}</td>
              </tr>
              <tr>
                <td class="py-2 pr-4 text-left font-medium">Date</td>
                <td class="py-2 pl-4 text-right">{{ transanction.tdate }}</td>
              </tr>
              <tr>
                <td class="py-2 pr-4 text-left font-medium">Transaction Type</td>
                <td class="py-2 pl-4 text-right">
                  {% if transanction.ttype == "IN" %} INCOME {% else %} EXPENSE {% endif %}
                </td>
              </tr>
              <tr>
                <td class="py-2 pr-4 text-left font-medium">Bill No</td>
                <td class="py-2 pl-4 text-right">{{ transanction.bill_no }}</td>
              </tr>
              <tr>
                <td class="py-2 pr-4 text-left font-medium">Approved By</td>
                <td class="py-2 pl-4 text-right">{{ transanction.approved_by }}</td>
              </tr>
              <tr>
                <td class="py-2 pr-4 text-left font-medium">Fund Raiser</td>
                <td class="py-2 pl-4 text-right">{{ transanction.fund_raiser }}</td>
              </tr>
              <tr>
                <td class="py-2 pr-4 text-left font-medium">Extra Details</td>
                <td class="py-2 pl-4 text-right">{{ transanction.extra_details }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <hr class="h-px mb-6 bg-gray-300 border-0">

        <div class="mb-4 text-center text-sm">
          <h2 class="text-lg font-semibold mb-2">Contact Details</h2>
          <p class="mb-2">{{ biller.biller_address }}</p>
          <p class="mb-2">{{ biller.biller_phone }}</p>
          <p>{{ biller.biller_email }}</p>
        </div>
      </div>


        <button
        onclick="handlePrint()"
        type="button"
        class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-md px-6 py-2.5 mr-2 mb-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800 mt-12 mx-6"
      >
        Print
      </button>
      </div>
    </div>
  </div>
</section>

{% endblock %}
