{% extends "commons.html" %}

<!-- title -->
{% block title %} Statement {% endblock title %}

<!-- content -->
{% block content %}

<section class="">
  <div class="flex justify-center align-middle flex-wrap">
    <div class="my-12 py-6 mx-4 rounded-lg bg-gray-100 drop-shadow-lg">
      <form method="post">
        {% csrf_token %}
        <!-- Display non-field errors -->
        {% if form.non_field_errors %}
        <ul class="errorlist">
          {% for error in form.non_field_errors %}
          <div
            class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
            role="alert"
          >
            <span class="font-medium">Validation Error</span> {{error}}
          </div>
          {% endfor %}
        </ul>
        {% endif %}
        <!-- display the errors -->
        {% for field in form %}
        <!-- loop through all the fields -->
        {% if field.errors %}
        <!-- show the list of errors if field has errors -->

        {% for error in field.errors %}
        <!-- iterate through all the errors -->
        <div
          class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <span class="font-medium">{{ field.label }}</span> {{error}}
        </div>
        {% endfor %}
        <!-- end for -->
        {% endif %}
        <!-- end if -->

        {% endfor %}
        <!-- end for  -->

        <br />
        <div class="mt-6 flex flex-wrap justify-between">
          <!-- choose account -->
          <div class="basis-full relative mx-6 my-2">
            <select
              id="{{ form.account_category.id_for_label }}"
              name="{{ form.account_category.html_name }}"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-primary-500 focus:border-primary-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 w-full"
            >
              <!-- An empty option to display a blank choice for the user -->
              <option value="" selected disabled>
                -- Select an account category --
              </option>
              <!-- Loop through the ExpenseCategory queryset and display each category -->
              {% for choice in form.account_category.field.choices %}

              <!-- cond -->
              {% if form.account_category.value|add:"0" == choice.0 %}
              <option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
              {% else %}
              <option value="{{ choice.0 }}">{{ choice.1 }}</option>
              {% endif %}
              <!-- endfor -->
              {% endfor %}
            </select>
          </div>
          <!-- start date -->
          <div class="relative w-full sm:w-2/5 mx-6 sm:ml-6 my-2">
            <div
              class="px-2 py-2 absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none"
            >
              <svg
                class="w-4 h-4 text-gray-500 dark:text-gray-400"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
                />
              </svg>
            </div>
            <input
              datepicker
              type="text"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Start date"
              id="{{ form.start_date.id_for_label }}"
              name="{{ form.start_date.html_name }}"
              value="{{ form.start_date.value|default:'' }}"
            />
          </div>
          <!-- end date -->
          <div class="relative w-full sm:w-2/5 mx-6 sm:mr-6 my-2">
            <div
              class="px-2 py-2 absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none"
            >
              <svg
                class="w-4 h-4 text-gray-500 dark:text-gray-400"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
                />
              </svg>
            </div>
            <input
              datepicker
              type="text"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="End date"
              id="{{ form.end_date.id_for_label }}"
              name="{{ form.end_date.html_name }}"
              value="{{ form.end_date.value|default:'' }}"
            />
          </div>
        </div>

        <button
          type="submit"
          class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-md px-6 py-2.5 mr-2 mb-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800 mt-12 mx-6"
        >
          Submit
        </button>

        <button
          onclick="handlePrint()"
          type="button"
          class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-md px-6 py-2.5 mr-2 mb-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800 mt-12 mx-6"
        >
          Print PDF
        </button>
      </form>
    </div>

    <br />
    <br />

    <div
      id="statement-box"
      class="shadow-md sm:rounded-lg inline-block mx-12 my-12"
    >
      <!--  -->
      <div class="p-4 w-full">
        <div class="grid grid-cols-12 gap-4">
          <div class="col-span-12 sm:col-span-6 md:col-span-3">
            <div class="flex flex-row bg-white shadow-sm rounded p-4">
              <div
                class="flex items-center justify-center flex-shrink-0 h-12 w-12 rounded-xl bg-blue-100 text-blue-500"
              >
                <svg
                  class="w-6 h-6"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"
                  ></path>
                </svg>
              </div>
              <div class="flex flex-col flex-grow ml-4">
                <div class="text-sm text-gray-500">Transanctions</div>
                <div class="font-bold text-lg">{{num_txn}}</div>
              </div>
            </div>
          </div>
          <div class="col-span-12 sm:col-span-6 md:col-span-3">
            <div class="flex flex-row bg-white shadow-sm rounded p-4">
              <div
                class="flex items-center justify-center flex-shrink-0 h-12 w-12 rounded-xl bg-green-100 text-green-500"
              >
                <svg
                  class="w-6 h-6"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"
                  ></path>
                </svg>
              </div>
              <div class="flex flex-col flex-grow ml-4">
                <div class="text-sm text-gray-500">Income</div>
                <div class="font-bold text-lg">{{income}}</div>
              </div>
            </div>
          </div>
          <div class="col-span-12 sm:col-span-6 md:col-span-3">
            <div class="flex flex-row bg-white shadow-sm rounded p-4">
              <div
                class="flex items-center justify-center flex-shrink-0 h-12 w-12 rounded-xl bg-orange-100 text-orange-500"
              >
                <svg
                  class="w-6 h-6"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z"
                  ></path>
                </svg>
              </div>
              <div class="flex flex-col flex-grow ml-4">
                <div class="text-sm text-gray-500">Expense</div>
                <div class="font-bold text-lg">{{expense}}</div>
              </div>
            </div>
          </div>
          <div class="col-span-12 sm:col-span-6 md:col-span-3">
            <div class="flex flex-row bg-white shadow-sm rounded p-4">
              <div
                class="flex items-center justify-center flex-shrink-0 h-12 w-12 rounded-xl bg-red-100 text-red-500"
              >
                <svg
                  class="w-6 h-6"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  ></path>
                </svg>
              </div>
              <div class="flex flex-col flex-grow ml-4">
                <div class="text-sm text-gray-500">Account Balance</div>
                <div class="font-bold text-lg">₹ {{cat_bal}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-center">
        <table class="text-md text-left text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
            <tr>
              <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                Invoice no
              </th>
              <th scope="col" class="px-6 py-3">Category</th>
              <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                Amount
              </th>
              <th scope="col" class="px-6 py-3">Purpose</th>
              <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                Date
              </th>
              <th scope="col" class="px-6 py-3">Type</th>
            </tr>
          </thead>
          <tbody>
            {% for item in queryset %}

            <tr class="border-b border-gray-200 dark:border-gray-700">
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800"
              >
                {{item.auto_invoice_id}}
              </th>
              <td class="px-6 py-4">{{item.category}}</td>
              <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                {{item.amount}}
              </td>
              <td class="px-6 py-4">{{item.purpose}}</td>
              <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                {{item.tdate}}
              </td>
              <td class="px-6 py-4">{{item.ttype}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>


{% endblock %}
